<layout label="image and text fullwidth">

    <table cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
            <td>
                <img editable width="580" src="http://placehold.it/580x200/" class="fullimage">
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
            <td style="background: #ffffff; ; border-radius: 5px; border-top-left-radius: 0; border-top-right-radius: 0;">

                <table style="width: 100%">
                    <tr>
                        <td class="textpadding">

                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <multiline>
                                            <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Eveniet reiciendis ut libero, recusandae consequuntur possimus voluptatem porro, aliquid laborum, a, dolorum voluptatibus! Dolorum ex, tempora, odit quis numquam earum dicta obcaecati sint quos velit consequatur tempore veritatis quod saepe, ratione!</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint magnam qui sapiente, libero quam quo quas <a href="#">veniet</a> voluptas dicta. Ex aut, minus, ut libero omnis quibusdam cupiditate. Exercitationem, minima, molestias.</p>
                                            <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque a minima, autem distinctio eveniet</small></p>
                                        </multiline>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

    <%= partial(:gutter) %>

</layout>
